li a{
    height: 36.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}

.add{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.0rem;
    border: #414141 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.stars{
    margin-bottom: .2rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    flex: 9;
}

.author span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: .9rem;
    color: grey;
    margin-right: .3rem;
}

.cook-time{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}

.price{
    color:#414141;
    margin-top: .7rem;
}
.img
{
  height: 90%;
}
